
/*extend:variables*/
:root{
	--highlight-external-links-text:'\21d7';
	--form-control-color:#495057;
	--form-control-border-color:#ced4da;
}

/*fixes*/
.fix-bs .btn[disabled],
.fix-bs .form-control[disabled]{cursor:not-allowed;}
.fix-bs .table-active,
.fix-bs .table-active>td,
.fix-bs .table-active>th{background-color:rgba(0,0,0,0.100);}
.fix-bs .table-hover .table-active:hover,
.fix-bs .table-hover .table-active:hover>td,
.fix-bs .table-hover .table-active:hover>th{background-color:rgba(0,0,0,0.175);}

/*extend:utilities:cursor*/
.cursor-hand:not([disabled]){cursor:pointer;}

/*extend:utilities:sizing*/
.max-vw-100{max-width:100vw!important}
.max-vh-100{max-height:100vh!important}
.w-95{width:95%!important;}
.w-90{width:90%!important;}
.w-85{width:85%!important;}
.w-80{width:80%!important;}
.w-70{width:70%!important;}
.w-66{width:calc(100% / 3 * 2)!important;}
.w-65{width:65%!important;}
.w-60{width:60%!important;}
.w-55{width:55%!important;}
.w-45{width:45%!important;}
.w-40{width:40%!important;}
.w-35{width:35%!important;}
.w-33{width:calc(100% / 3)!important;}
.w-30{width:30%!important;}
.w-20{width:20%!important;}
.w-15{width:15%!important;}
.w-10{width:10%!important;}
.w-5{width:5%!important;}

/*extend:utilities:icons*/
.highlight-external-links a[href^="//"]::after,
.highlight-external-links a[href^="http://"]::after,
.highlight-external-links a[href^="https://"]::after{content:var(--highlight-external-links-text);vertical-align:text-top;font-size:0.6em;}
.arrow-bottom-after::after,
.arrow-bottom-before::before,
.arrow-top-after::after,
.arrow-top-before::before,
.arrow-right-after::after,
.arrow-right-before::before,
.arrow-left-after::after,
.arrow-left-before::before{display:inline-block;content:'';}
.arrow-bottom-after:not(.arrow-no-margin)::after,
.arrow-top-after:not(.arrow-no-margin)::after,
.arrow-right-after:not(.arrow-no-margin)::after,
.arrow-left-after:not(.arrow-no-margin)::after{margin-left:0.255em;}
.arrow-bottom-before:not(.arrow-no-margin)::before,
.arrow-top-before:not(.arrow-no-margin)::before,
.arrow-right-before:not(.arrow-no-margin)::before,
.arrow-left-before:not(.arrow-no-margin)::before{margin-right:0.255em;}
.arrow-bottom-after::after,
.arrow-bottom-before::before,
.arrow-top-after::after,
.arrow-top-before::before{vertical-align:0.255em;}
.arrow-right-after::after,
.arrow-right-before::before,
.arrow-left-after::after,
.arrow-left-before::before{vertical-align:0.1em;}
.arrow-bottom-after::after,
.arrow-bottom-before::before{border-top:0.3em solid;border-right:0.3em solid transparent;border-bottom:0;border-left:0.3em solid transparent;}
.arrow-top-after::after,
.arrow-top-before::before{border-top:0;border-right:0.3em solid transparent;border-bottom:0.3em solid;border-left:0.3em solid transparent;}
.arrow-right-after::after,
.arrow-right-before::before{border-top:0.3em solid transparent;border-right:0;border-bottom:0.3em solid transparent;border-left:0.3em solid;}
.arrow-left-after::after,
.arrow-left-before::before{border-top:0.3em solid transparent;border-right:0.3em solid;border-bottom:0.3em solid transparent;border-left:0;}

/*extend:utilities:text*/
.text-1{font-size:0.50rem;}
.text-2{font-size:0.75rem;}
.text-3{font-size:1.00rem;}
.text-4{font-size:1.33rem;}
.text-5{font-size:2.00rem;}

/*extend:content:tables*/
.caption-top{caption-side:top;}

/*extend:components:forms*/
.form-control[readonly].like-no-readonly{background-color:var(--white);}

/*extend:components:buttons*/
.btn-form-control{color:var(--form-control-color);border-color:var(--form-control-border-color);}
.btn-form-control:hover{color:var(--white);border-color:var(--secondary);background-color:var(--secondary);}

/*extend:components:nice-input-file*/
.nice-input-file input[type="file"]{display:none;}
